<h1><%=@name%></h1>
<strong>Street address : </strong><%=@street_address%><br>
<strong>Extended address : </strong><%=@extended_address%><br>
<strong>City :</strong> <%=@city%><br>
<strong>State : </strong><%=@state%><br>
<strong>Pin : </strong><%=@pin%><br>
<strong>Star class : </strong><%=@star_class%><br>
<strong>Hotel Description :</strong><%=@description%>
<br>

<br>
<Strong>Photos :</Strong>

<%if @photos.present? %>
	<%@photos.first(5).each do |p| %>
		<img src="<%=p%>"><br>
	<%end%>
<%end%>

<br><br>
<strong>Amenities : </strong>
<table border="1">
	<thead>
		<tr>
			<th> Amenity Name </th>
		</tr>
	</thead>
	<tbody>
		<% if @amenities.present? %>
			<% @amenities.each do |a| %>
				<tr>
					<td><%=a%></td>
				</tr>
			<%end%>
		<%end%>
	</tbody>
</table> 

<strong>Reviews</strong>
<table border="1">
	<thead>
		<tr>
			<th> By</th>
			<th> Location </th>
			<th> Date</th>
			<th> Title</th>
			<th> Description</th>

		</tr>
	</thead>
	<tbody>
		<% if @reviews.present? %>
			<% @reviews.each do |p| %>
				<tr>
					<td><%=p["by"]%></td>
					<td><%=p["location"]%></td>
					<td><%=p["date"]%></td>
					<td><%=p["title"]%></td>
					<td><%=p["description"]%></td>
				</tr>
			<%end%>
		<%end%>
	</tbody>
</table> 



controller :

def index
		
		url = "http://www.tripadvisor.com/Hotel_Review-g43230-d268394-Reviews-AmericInn_Lodge_Suites_Lake_City-Lake_City_Minnesota.html"
		doc = Nokogiri::HTML(open(url))

		@name = doc.at_css("#HEADING").text
		@street_address= doc.at_css("#HEADING_GROUP .street-address").present? ? doc.at_css("#HEADING_GROUP .street-address").text : "n/a"
		@extended_address= doc.at_css("#HEADING_GROUP .extended-address").present? ? doc.at_css("#HEADING_GROUP .extended-address").text : "n/a"
		@city = doc.at_css('.locality span:nth-child(1)').present? ? doc.at_css('.locality span:nth-child(1)').text : "n/a"
		@state = doc.at_css('.locality span:nth-child(2)').present? ? doc.at_css('.locality span:nth-child(2)').text : "n/a"
		@pin = doc.at_css('.locality span:nth-child(3)').present? ?  doc.at_css('.locality span:nth-child(3)').text : "n/a"
		@star_class = doc.at_css('.stars').present? ? doc.at_css('.stars').text : "n/a"
		@price_range = doc.at_css('.address :nth-child(3) span').present? ? doc.at_css('.address :nth-child(3) span').text : "n/a"
		@description = doc.at_css('.tabs_descriptive_text').present? ? doc.at_css('.tabs_descriptive_text').text : "n/a"
		@photos = []
		# @js = doc.at('script').text
		@js = doc.search("[text()*='lazyImgs']").text.split('lazyImgs = [')[1].split("];")[0]
		parsed_json = ActiveSupport::JSON.decode("["+@js+"]")
		parsed_json.each do |p|
		# 	# p.each do |i|
				@photos<< p["data"]
		# 	# end
		end

		@amenities = []
		doc.css(".property_tags li").each do |item|
			@amenities << item.text.gsub("\n","")
		end
		@reviews=[]
		doc.css("#REVIEWS").each do |review|
			rev={}
			rev["by"]=review.at_css(".mo").text
			rev["location"]=review.at_css(".location").text
			rev["title"] = review.at_css(".quote").text
			rev["date"] = review.at_css(".ratingDate").text
			rev["description"] = review.at_css(".partial_entry").text
			p "-----------------------#{rev.inspect}"
			@reviews << rev
		end

		respond_to do |format|
	    format.html
	    format.csv do
	      headers['Content-Disposition'] = "attachment; filename=\"lodging.csv\""
	      headers['Content-Type'] ||= 'text/csv'
	    end
  	end


  end














csv.erb file

<%- headers = ["name","street address","extended_address","city","state","pin","star","price","description","amenities","photos","reviews"] -%>
<%= CSV.generate_line headers %>
 <%- headers = [@name.chomp, @street_address.chomp,@extended_address.chomp,@city.chomp,@state.chomp,@pin.chomp,@star_class.chomp,@price_range.chomp,@description.chomp,@amenities.map(&:chomp),@photos.map(&:chomp),@reviews]-%> 
<%= CSV.generate_line(headers).html_safe %>
