<%#=render 'index'%>

<%#= link_to 'Download CSV list', root_path(format: :csv) %>

<%= link_to 'new CSV ', new_path %> 

<br><b><%= @tests.count %> </b>

<table border="1">
	<thead>
	<tr>
		<th>DBid</th>
		<th>name</th>
		<th>rating</th>
		<th>street_address</th>
		<th>extended_address</th>
		<th>city</th>
		<th>state</th>
		<th>pin</th>
		<th>star_class</th>
		<th>price_range</th>
		<th>total_reviews</th>
		<th>traveller_rating</th>
		<!-- <th>description</th> -->
		<!-- <th>amenities</th> -->
		<!-- <th>photos</th> -->
		<!-- <th>reviews</th> -->
		<th>link</th>
		<th>Created at</th>
	</tr>
	</thead>
	<tbody>
		<%@tests.each do |t|%>
		<tr>
			<td><%=t.id %></td>
			<td><%=t.name.strip %></td>
			<td><%=t.rating.strip %></td>
			<td><%=t.s_address.strip %></td>
			<td><%=t.e_address.strip %></td>
			<td><%=t.city.strip %></td>
			<td><%=t.state.strip %></td>
			<td><%=t.pin.strip %></td>
			<td><%=t.star.strip %></td>
			<td><%=t.price.strip %></td>
			<td><%=t.total_reviews.strip %></td>
			<td><%=t.traveller_rating.strip %></td>
			<!-- <td><%=t.description.strip %></td> -->
			<!-- <td><%=t.amenities.strip %></td> -->
			<!-- <td><%=t.photos.strip %></td> -->
			<!-- <td><%=t.reviews.strip %></td> -->
			<td><%=t.link %></td>
			<td><%=t.created_at.strftime('%a, %d %b %Y %H:%M:%S')%></td>
		</tr>
		<%end%>
	</tbody>
</table>



<%= will_paginate @tests %>
